.beer-page {
  background: #000;
}

.beers-main-container {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: auto;

  .all-things-beer-holder {
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: auto;
    object-fit: contain;
    height: fit-content;
    position: relative !important;
    overflow-x: hidden;

    .overlay-beer {
      position: absolute;
      background: #000;
      z-index: 1;
      opacity: 0.25;
      height: 100%;
      width: 95% !important;
    }

    img {
      height: 550px;
      width: 95%;

      @media screen and (min-width: 280px) and (max-width: 600px) {
        height: fit-content;
        width: 100%;
        padding-left: 2rem;
      }

      @media screen and (min-width: 601px) and (max-width: 899px) {
      }

      @media screen and (min-width: 900px) and (max-width: 1250px) {
      }
    }
  }

  .beers-image-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translate(0%, -25%);
    padding-left: 12%;
    z-index: 20 !important;
    position: relative;
    margin-top: 0rem;
    margin-bottom: 2rem;

    h1 {
      max-width: fit-content;
      font-size: 65px;
      font-weight: 700;
      margin-bottom: 10px;
      text-wrap: wrap;
      z-index: 20 !important;
    }

    p {
      max-width: 90%;
      font-size: 20px;
      font-weight: 100 !important;
      color: white;

      @media screen and (min-width: 280px) and (max-width: 600px) {
        font-size: 15px;
      }
    }

    @media screen and (min-width: 280px) and (max-width: 600px) {
      transform: translate(0%, -10%);
      padding-left: 7%;
    }
  }

  .featured-container {
    p {
      margin-left: 8.75rem;
    }
  }

  .guiness-draught-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .shift-container {
      position: relative;
      .featured {
        font-size: 1rem;
        margin-left: 8%;
        margin-bottom: 0rem;
        margin-bottom: -2rem;
        @media screen and (min-width: 280px) and (max-width: 600px) {
          margin-bottom: 0rem;
        }
      }
    }
    .style-left {
      position: absolute;
      top: 5.5rem;
      width: 100%;
      @media screen and (min-width: 280px) and (max-width: 600px) {
        top: 2.5rem;
      }
      h1 {
        font-size: 60px;
        margin: 0;
        margin-left: 8%;
        font-weight: 700;
        margin-bottom: 0;
        @media screen and (min-width: 280px) and (max-width: 600px) {
          font-size: 30px !important;
        }
      }

      p {
        max-width: 70%;
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        margin-left: 05%;
        @media screen and (min-width: 280px) and (max-width: 600px) {
          font-size: 15px !important;
        }
      }
    }
    img {
      width: 90%;
      margin: auto;
      @media screen and (min-width: 280px) and (max-width: 600px) {
        height: 450px;
        width: auto;
        margin: 1rem;
      }
    }
  }

  .more-beers-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    .find-out-btn {
      border: 2px solid #a09829 !important;
      border-radius: 0 !important;
    }
  }
}
