.homepage-craft-main {
    min-width: 100%;
    margin:auto;
    max-height: 105vh;
    
    @media screen and (min-width:899px) and (max-width:1440px){
        padding:40px;
    }
    .image-holder {
        margin: auto;
        width: 100%;
        height: 600px;
        display:flex;
        justify-content: center;
        @media screen and (min-width:280px) and (max-width:600px){
            padding:15px;
            height:400px;
        }
    }

    .content-holder {
        .content-row {
            transform: translate(10%, -45%);
            @media screen and (min-width:280px) and (max-width:600px){
                transform : translate(0,-28%);
            }
            .craft-heading{
                    font-size: 77px;
                    line-height: 80px;
                    letter-spacing: 1.632px;
                    color: white;
                    font-family: goatham65;
                    font-style: normal;
                    font-weight: 400;
                    margin-bottom: 40px;
                    max-width: 687px;
                
                
                    @media screen and (min-width:280px) and (max-width:600px) {
                        font-size: 30px !important;
                        font-weight: 700;
                        margin-bottom: 20px;
                        line-height: normal;
                        padding-left:20px;
                    }
                
                    @media screen and (min-width:601px) and (max-width:899px){
                        font-size: 40px;
                        line-height: 40px;
                    }
                
                    @media screen and (min-width:900px) and (max-width:1250px){
                        font-size:50px;
                        line-height: 60px;
                    }
            }
            .head{
                @media screen and (min-width:280px) and (max-width:600px){
                    padding-left:20px;
                    color:white;
                }
            }
            .move-content{
                margin-left:20px;
                @media screen and (min-width:280px) and (max-width:600px){
                    margin-left:0;
                }
            }
        }

        .para {
            .content {
                padding: 30px;
                max-width: 750px;
                background-color: black;
                @media screen and (min-width:280px) and (max-width:600px){
                    padding:15px;
                }

            }
        }
    }
} 
.image1{
    object-fit: cover;
    filter: brightness(0.5);
}
@font-face{
    src: url('../../public/fonts/goatham65.woff2');
    font-family: 'goatham65';
    
}
.p-content{
    font-family: goatham65 !important;
}