.homepage-subscribe {
    display: flex;
    justify-content: center;
    width: 100%;

    .content-holder {
        z-index: 2 !important;
        width: 90%;
        margin-top: 2rem;

        .text {
            font-size: 48px;
            line-height: 56px;
            letter-spacing: normal;
            color: white;
        }

        .content {
            font-size: 40px;
            font-family: goatham65;
            font-style: normal;
            font-weight: 700;
            color: white;
            margin-bottom: 20px;
            max-width: 650px;
            padding: 7px 8px;

            @media screen and (min-width:280px) and (max-width:600px) {
                font-size: 20px !important;
                margin-bottom: 15px;
                max-width: 511px;
            }
        }

        .subscribe-button {
            background-color: rgb(185, 150, 91) !important;
            color: black !important;
            font-size: 20px !important;
            font-weight: 700 !important;
            height: 54px;
            width: 168px;
            margin-bottom: 20px !important;
            font-family: sans-serif !important;
            border: none !important;
            text-transform: capitalize !important;

            &:hover {
                font-size: 22px;
                color: black !important;
            }

            @media screen and (min-width:280px) and (max-width:600px) {
                font-size: 15px !important;
                height:44px !important;
            }
        }
    }

    .image-holder {
        width: 100% !important;
        justify-content: flex-start;
        opacity: 0.5 !important;

        img {
            height: 500px;
            width: 100%;

            @media screen and (min-width:280px) and (max-width:600px) {
                width: 100%;
                height:250px;
            }
        }
    }
}