.side_section_box_container {
    min-width: 330px;
    margin-left: -30px;
    .side_section_box_item {
        all: unset;
        display: inline-block;
        padding: 2rem 0;
        font-size: 1rem;
        font-weight: 500;
        border-top: 1px solid #c1c1c1;
        width: 80%;
        transition: all 0.5s cubic-bezier(.4,0,.2,1);
        cursor: pointer;
        .side_section_box_item_content{
            margin-left: 4rem;
            div {
                width: fit-content;
                transition: all 0.5s cubic-bezier(.4,0,.2,1);
            }
        }

        &.active{
            border-top: 2px solid #fff;
            width: 100%;
            .side_section_box_item_content{
                div{
                    transition: all 0.5s cubic-bezier(.4,0,.2,1);
                    width: 100%;
                    text-align: end;
                }
            }
        }
    }
}