.hero_card_container{
    position: relative;
    .card_title {
        position: absolute;
        max-width: 974px;
        right: 0;
        top: -6%;
        padding-inline: 1rem;
        h2{
            font-size: 4rem;
            line-height: 1;
            letter-spacing: 5.632px;
            font-weight: 700;
            text-transform: uppercase;
        }
        
    }
    .card_image_section{
        filter: opacity(0.7);
        z-index: -1;
        max-height: 560px;
    }
    .card_content{
        margin-top: -60px;
        width: 60%;
        background-color: black;
        font-size: 1.25rem;
        p{
            padding: 2.5rem 2.5rem 0 4rem;
        }
    }

    @media (768px <= width <= 1024px) {
        .card_title{
            h2{
                font-size: 2rem;
            }
        }
        .card_content{
            font-size: 1rem;
        }
    }
    @media (width <= 768px) {
        .card_title{
            left: 0;
            h2{
                font-size: 2rem;
            }
        }
        .card_content{
            font-size: 1rem;
            width: 100%;
            p{
                padding: 1rem 1rem 0 1rem;
            }
        }
    }
}
