.story_block__wrapper{
    h3{
        font-size: 88px;
        line-height: 1;
        letter-spacing: 5.632px;
        font-weight: 700;
    }

    p{
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .story_block__link{
       @extend .story_block__link;
    }

    @media (width < 1024px) {
        h3{
            font-size: 40px;
            letter-spacing: 2.632px;
        }

        .flex{
            align-items: flex-start;
            width: 100%;
        }
    }
    @media (width < 525px){
        h3{
            font-size: 36px;
            letter-spacing: 2px;
        }
    }
}

.story_block__link{
    all: unset;
    color: rgb(185 150 91);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1rem;
    height: 30px;
    cursor: pointer;
    &:hover{
        color: rgb(206, 182, 140);
    }
}